{{ form_widget(form.nom) }}
<button type="button" class="bouton-2 btn-remove">
    <svg xmlns="http://www.w3.org/2000/svg" width="19.278" height="2" viewBox="0 0 19.278 2">
        <path id="Icon_feather-minus" data-name="Icon feather-minus" d="M7.5,18H24.778" transform="translate(-6.5 -17)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
    </svg>
</button>